---
layout: "you_eye/default"
nav: "home"
banner_src: "assets/site/flag_of_japan.svg"
banner_title: "Learn Japanese"
---
<script src="scripts/site/responsivevoice.js"></script>
{% include site/kana.html %}
{% include site/kanji.html %}
{% include site/instructions.html %}
{% include site/progress.html %}
{% include site/character.html %}
{% include site/play.html %}
{% include site/configuration.html %}
{% include site/help.html %}
<script>
  window.kana = {{ site.kana | jsonify }}
  window.kanji = {{ site.kanji | jsonify }}
</script>
<script src="scripts/site/learn_japanese.js"></script>
