.character {
  padding: 1em;
  line-height: 0;
  font-size: 4em;
}

.intro {
  text-align: justify;
  font-size: 1.5em;
}

.button_breaker {
  font-family: $font;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}


input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label:before {
  font-family: IcoMoon-Free;
  display: inline-block;
  letter-spacing: 1rem;
}

input[type=checkbox] + label:before {
  content: "\ea53";
}

input[type=checkbox]:checked + label:before {
  content: "\ea52";
}
