.banner_src {
  margin: 1rem;
  height: 2em;
  display: inline-block;
  float: left;
}

.banner_title {
  font-size: 2em;
  display: inline-block;
  float: left;
}

.title {
  width: 100%;
  font-size: 1.7em;
  padding-bottom: 0.5rem;
}

section {
  margin-bottom: 2rem;
}

.panel {
  border-radius: 4px;
  position: absolute;
  height: 100%;
  background-color: darken($light-second, 10%);
  box-shadow: 0 0 0 10000em rgba(0, 0, 0, 0.7);
  overflow-y: hidden;
  .tabs, p, .title {
    padding: 1rem;
  }
  p, .title {
    text-align: center;
  }
  p, .title {
    color: rgba(0, 0, 0, 0.7);
  }
  p {
    font-size: 1.2em;
  }
}

.configuration div {
  display: inline-block;
  margin-right: 2rem;
}

.character {
  text-align: center;
  background-color: $light-second;
  color: $middle-first;
  border: solid 1px;
  border-radius: 4px;
  font-size: 4em;
  .char {
    display: inline-block;
    .stack {
      display: block;
      font-size: 0.3em;
    }
  }
}

.intro {
  text-align: justify;
  font-size: 1.5em;
}

.button_breaker {
  font-family: $font;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label:before {
  font-family: IcoMoon-Free;
  display: inline-block;
  letter-spacing: 1rem;
}

input[type=checkbox] + label:before {
  content: "\ea53";
}

input[type=checkbox]:checked + label:before {
  content: "\ea52";
}

.cookies {
  padding: 1rem;
  border: solid 1px;
  border-radius: 4px;
  background-color: $light-second;
  color: $middle-first;
  .icon {
    color: $middle-first;
  }
}
