<div id="alphabet" class="alphabet columns ten offset-by-one" style="display: none;">
  <div class="columns twelve tabs">
    <button class="button-focused column one-third">HIRAGANA</button>
    <button class="column one-third">KATAKANA</button>
    <span onclick="toggleAlphabet()" class="button u-pull-right icon icon-cross"><span class="button_breaker">CLOSE</span></span>
  </div>
  <div class="head columns twelve">
    <div class="columns ten offset-by-one">
      <button style="visibility: hidden;"><span style="visibility: hidden;">_</span></button>
      <button>a</button>
      <button>e</button>
      <button>i</button>
      <button>o</button>
      <button>u</button>
      <button><span style="visibility: hidden;">_</span></button>
    </div>
  </div>
  <div class="table columns twelve" style="z-index: 3;">
    <div class="columns ten offset-by-one">
      <button><span style="visibility: hidden;">_</span></button>
    </div>
    <div class="columns ten offset-by-one">
      <button>k</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>g</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>t</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>d</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>h</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>b</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>p</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>s</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>z</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>m</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>y</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>r</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>w</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>n</button>
    </div>
    <div class="columns ten offset-by-one">
      <button>v</button>
    </div>
  </div>
</div>
