<section class="columns twelve row">
  <span class="columns twelve title">CONFIGURATION</span>
  <div class="row configuration">
      <div>
        <input id="hiragana" type="checkbox" checked>
        <label for="hiragana">HIRAGANA</label>
      </div>
      <div>
        <input  id="katakana" type="checkbox">
        <label for="katakana">KATAKANA</label>
      </div>
  </div>
  <div class="row configuration">
    <div>
      <label>KANJI GRADE</label>
    </div>
    <div>
      <input  id="grade_1" type="checkbox">
      <label for="grade_1">1</label>
    </div>
    <div>
      <input  id="grade_2" type="checkbox">
      <label for="grade_2">2</label>
    </div>
    <div>
      <input  id="grade_3" type="checkbox">
      <label for="grade_3">3</label>
    </div>
    <div>
      <input  id="grade_4" type="checkbox">
      <label for="grade_4">4</label>
    </div>
    <div>
      <input  id="grade_5" type="checkbox">
      <label for="grade_5">5</label>
    </div>
    <div>
      <input  id="grade_6" type="checkbox">
      <label for="grade_6">6</label>
    </div>
  </div>
</section>
