<section class="columns twelve row">
  <span class="columns twelve title">CONFIGURATION</span>
  <div class="row kana__configuration">
      <div>
        <input id="hiragana" type="checkbox" checked>
        <label for="hiragana">HIRAGANA</label>
      </div>
      <div>
        <input  id="katakana" type="checkbox" checked>
        <label for="katakana">KATAKANA</label>
      </div>
  </div>
  <div class="row kanji__configuration">
    <div>
      <input id="hiragana" type="checkbox">
      <label for="hiragana">KANJI</label>
    </div>
    <div class="grade">
      <label>FROM GRADE</label>
      <select>
        <option>1</option>
      </select>
    </div>
    <div class="grade">
    <label>TO GRADE</label>
      <select>
        <option>1</option>
      </select>
    </div>
  </div>
</section>
