<section class="columns twelve row">
  <span class="columns twelve title">HELP</span>
  <div class="row">
    <span onclick="reveal()" class="button column one-half icon icon-search"><span class="button_breaker">REVEAL</span></span>
    <span onclick="say()" class="button column one-half icon icon-volume-medium"><span class="button_breaker">LISTEN</span></span>
  </div>
  <div class="row">
    <span onclick="panel('instructions')" class="button column one-third icon icon-info"><span class="button_breaker">INSTRUCTIONS</span></span>
    <span onclick="toggleAlphabet()" class="button column one-third icon icon-spell-check"><span class="button_breaker">KANA</span></span>
    <span onclick="console.log('yeah')" class="button column one-third icon icon-spell-check"><span class="button_breaker">KANJI</span></span>
  </div>
</section>
