<div id="instructions" class="panel columns offset-by-one ten" style="display: none;">
  <div class="columns twelve tabs">
    <span onclick="panel('instructions')" class="button icon icon-cross"><span class="button_breaker">CLOSE</span></span>
  </div>
  <div class="columns twelve">
    <span class="columns twelve title">INSTRUCTIONS</span>
    <p class="columns twelve">
      Learn Japanese is simple<br/>
      You are presentented with the kana or kanji<br/>
      Then fill out your response<br/>
      You can configure what characters are shown<br/>
      Use the help tools to help you learn Japanese<br/>
    </p>
  </div>
</div>
