<div id="kana" class="panel columns offset-by-one ten" style="display: block;">
  <div class="columns twelve close">
    <span onclick="panel('kana')" class="button icon icon-cross"><span class="button_breaker">CLOSE</span></span>
  </div>
  <div class="columns twelve">
    <div>
      <input id="hiragana_kana" type="checkbox">
      <label for="hiragana_kana">HIRAGANA</label>
    </div>
    <div>
      <input id="katakana_kana" type="checkbox">
      <label for="katakana_kana">KATAKANA</label>
    </div>
  </div>
</div>
