<div id="kana" class="panel columns offset-by-one ten" style="display: none;">
  <div class="columns twelve close">
    <span onclick="panel('kana')" class="u-pull-right button icon icon-cross"><span class="button_breaker">CLOSE</span></span>
  </div>
  <span class="title">KANA</span>
  <div class="columns twelve">
    <div class="filter">
      <input id="hiragana_filter" onchange="updateKana()" type="checkbox" checked>
      <label for="hiragana_filter">HIRAGANA</label>
    </div>
    <div class="filter">
      <input id="katakana_filter" onchange="updateKana()" type="checkbox" checked>
      <label for="katakana_filter">KATAKANA</label>
    </div>
    <div class="filter">
      <label for="kana_search" class="search">SEARCH</label>
      <input id="kana_search" class="search" oninput="searchKana(this.value)" type="text" placeholder="romanji">
    </div>
  </div>
  <div class="columns twelve table-container">
    <table id="kana_table">
      <thead>
        <th style="visibility: hidden;">_</th>
        {% for vowel in site.letters.vowels %}
          {% if vowel == " " %}
            <th></th>
          {% else %}
            <th>{{vowel}}</th>
          {% endif %}
        {% endfor %}
      </thead>
      <tbody>
        {% for consonant in site.letters.consonants %}
        <tr>
          {% if consonant == " " %}
            <td style="visibility: hidden;">_</td>
          {% else %}
            <td>{{consonant}}</td>
          {% endif %}

          {% for vowel in site.letters.vowels %}
            <td>
            {% for hiragana in site.kana.hiragana %}
              {% if hiragana.row == consonant and hiragana.col == vowel%}
                  <button class="hiragana kana kana_{{consonant}} kana_{{vowel}}" onclick='talk({{hiragana.code || jsonify}})'>{{hiragana.code}}</button>
              {% endif %}
            {% endfor %}
            {% for katakana in site.kana.katakana %}
              {% if katakana.row == consonant and katakana.col == vowel%}
                <button class="katakana  kana kana_{{consonant}} kana_{{vowel}}" onclick='talk({{katakana.code || jsonify}})'>{{katakana.code}}</button>
              {% endif %}
            {% endfor %}
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
